/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url(/src/images/galaxy-background.jpg);
  background-size: cover;
  background-position: center;
}

/* Header */
header {
  display: flex;
  background-color: #272c32ad;
  width: 75%; 
  margin-left: auto;
  height: 100px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex-direction: row-reverse;
  justify-content: left; 
  align-items: center;
}

header img {
  padding: 0 0px;
  width: 130px;
  height: auto;
  object-fit: contain;
  margin-left: 0;
  animation: slideIn 3s ease-in-out;
  clip-path: circle(30%);
}

header p {
  margin: 0 20px;
  font-size: 40px;
  color: #ccc;
  animation: slideIn 3s ease-in-out;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #cccccc;
  text-shadow: 2px 2px 4px var(--box-shadow);
}


/* Nav lateral */
.sidebar {
  background-color: var(--background-light);
  width: 25%;
  font-size: 18px;
  padding: 30px;
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}


/* Ocultar la barra de scroll en navegadores basados en Webkit */
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
}

/* Nav lista */

.sidebar__list {
  list-style: none;
}

.sidebar__item {
  margin-bottom: 10px;
}

.sidebar__link {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: bold;
}

.sidebar__link:hover {
  color: var(--highlight-blue);
}




/* Ocultar la barra de scroll en navegadores basados en Webkit */
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
}

/* Nav lista */

.sidebar__list {
  list-style: none;
}

.sidebar__item {
  margin-bottom: 10px;
}

.sidebar__link {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: bold;
  transition: 2s all ease-in-out;
}

.sidebar__link:hover {
  color: var(--highlight-blue);
  
}

/* Nav sublista */
.sidebar__sublist {
  margin-left: 15px;
  list-style: none;
  padding: 5px 0;
  font-size: 13px;
}

.sidebar__subitem {
  margin-top: 5px;
  margin-bottom: 10px;
} 

.sidebar__sublink {
  text-decoration: none;
  color: var(--text-dark);
  transition: all 0.2s ease-in-out;
}

.sidebar__sublink:hover {
  color: var(--highlight-blue);
}

/* Mapa */
.map {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
}



/* Contenedor principal */
.container {
  margin-left: 25%;
  width: 50%;
  height: auto;
  padding: 20px;
  background-color: var(--text-white);
  box-shadow: 0 0 10px var(--box-shadow);
  border-radius: 8px;
}

.container p {
  color: var(--text-dark);
  text-shadow: none;
  font-size: 20px;
  text-decoration: underline;
  padding-block: 5px;
}

h1 {
  color: var(--text-dark);
  text-align: center;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: var(--accent-light-blue);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  color: var(--highlight-blue);
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-dark);
  padding: 10px 20px;
  width: 75%;
  margin-left: auto;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.footer img {
  clip-path: circle(30%);
  width: 50px;
}

.footer p {
  margin: 0;
  margin-inline: 5px;
  text-align: center;
}

.footer__content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__logo {
  width: 40px;
  height: auto;
}

.footer__nav {
  display: flex;
  gap: 10px;
}

.footer__link {
  text-decoration: none;
  color: var(--text-white);
  margin-inline: 2px;
  transition: all .2s ease-in-out;
}

.footer__link:hover {
  text-decoration: none;
  transform: scale(1.1);
}


/* Móviles (pantallas menores a 768px) */
@media (max-width: 768px) {

  header {
    justify-content: center;
    width: 100%;
  }

  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
    border-right: none;
  }

  .container{
    margin: 50px;
    width: 100%;
    padding: 20px;
  }

  .footer {
    width: 100%;
  }

}

/* Tablets (pantallas menores a 1196px) */
@media (max-width: 1196px) {

  body {
    flex-direction: column;
  }

  .map {
    height: 300px;
  }

  
  .footer p {
    font-size: 12px;
  }

  .footer__link {
    font-size: 10px;
  }

}

/* Animación */

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}