/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  display: flex;
}

/* Nav lateral */

/* Nav lateral */
.sidebar {
  background-color: var(--background-light);
  width: 25%;
  font-size: 18px;
  padding: 30px;
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}


/* Ocultar la barra de scroll en navegadores basados en Webkit */
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
}

/* Nav lista */

.sidebar__list {
  list-style: none;
}

.sidebar__item {
  margin-bottom: 10px;
}

.sidebar__link {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: bold;
}

.sidebar__link:hover {
  color: var(--highlight-blue);
}


/* Nav sublista */
.sidebar__sublist {
  margin-left: 15px;
  list-style: none;
  padding: 5px 0;
  font-size: 13px;
}

.sidebar__subitem {
  margin-top: 5px;
  margin-bottom: 10px;
}

.sidebar__link {
  text-decoration: none;
  color: var(--text-dark);
  transition: all 0.2s ease-in-out;
}

.sidebar__link:hover {
  color: var(--highlight-blue);
}

.sidebar__sublink {
  text-decoration: none;
  color: var(--background-box);
  transition: all 0.2s ease-in-out;
}

.sidebar__sublink:hover {
  color: var(--highlight-blue);
}

/* Mapa */
.map {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Nav lateral */
.sidebar {
  width: 25%;
  font-size: 18px;
  padding: 30px;
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}

/* Contenido principal */
.container {
  margin-left: 25%;
  position: relative;
  width: 50%;
  padding: 20px;
  box-shadow: 0 0 10px var(--box-shadow);
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.container p {
  font-size: 20px;
  text-decoration: underline;
  padding-block: 5px;
}

h1 {
  color: var(--text-dark);
  text-align: center;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: var(--accent-light-blue);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  color: var(--highlight-blue);
}

/* Móviles (pantallas menores a 768px) */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
    border-right: none;
  }

  .container{
    margin: 50px;
    width: 100%;
    padding: 20px;
  }

}

/* Tablets (pantallas menores a 1800px) */
@media (max-width: 1196px) {

  body {
    flex-direction: column;
  }

  .map {
    height: 300px;
  }

}
