/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  background-color: var(--background-dark);
}

/* Nav lateral */
.sidebar {
  background-color: var(--background-light);
  width: 25%;
  font-size: 18px;
  padding: 30px;
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}


/* Ocultar la barra de scroll en navegadores basados en Webkit */
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
}

/* Nav lista */

.sidebar__list {
  list-style: none;
}

.sidebar__item {
  margin-bottom: 10px;
}

.sidebar__link {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: bold;
  transition: 2s all ease-in-out;
}

.sidebar__link:hover {
  color: var(--highlight-blue);
  
}

/* Nav sublista */
.sidebar__sublist {
  margin-left: 15px;
  list-style: none;
  padding: 5px 0;
  font-size: 13px;
}

.sidebar__subitem {
  margin-top: 5px;
  margin-bottom: 10px;
} 

.sidebar__sublink {
  text-decoration: none;
  color: var(--text-dark);
  transition: all 0.2s ease-in-out;
}

.sidebar__sublink:hover {
  color: var(--highlight-blue);
}

/* Mapa */
.map {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
}



/* Contenido principal */
.main-content {
  margin-left: 25%;
  width: 75%;
  padding: 20px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #cccccc;
  text-shadow: 2px 2px 4px var(--box-shadow);
}

.intro {
  background-color: var(--background-medium);
  color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px var(--box-shadow);

}

.top__section {
  gap: 20px;
}

.info__box {
  background-color: var(--text-dark);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px var(--shadow-medium);
  margin-bottom: 15px;
}

.intro__content {
  display: flex;
}

.intro__title {
  display: inline-block;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, var(--gradient-dark) 0%, var(--accent-blue) 25%, var(--accent-blue)  75%, transparent 100%);
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding: 10px 20px;
  box-shadow: 0px 4px 10px var(--shadow-medium);
  text-shadow: 0px 4px 10px var(--box-shadow);
}


.intro__subtitle {
  font-size: 22px;
  color: var(--accent-blue);
  font-weight: bold;
  margin: 20px;
  border-bottom: 2px solid var(--accent-border);
  text-align: end;
  text-shadow: 0px 4px 10px var(--box-shadow);
}

.intro__text {
  padding-inline: 20px;
}


/* Scroll de imagenes con la dependencia swiper */

.custom-swiper {
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding-block: 20px;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

}

.intro__image {
  width: 95%;
  height: auto;
  border-radius: 8px;
}

.swiper-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--background-dark);
  position: absolute;
  top: 50%;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-light);
  border: 1px solid var(--background-dark);
  z-index: 10;
}


.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination {
  color: blue;
  position: relative;
  bottom: 10px;
  text-align: center;
  z-index: 10;
}

b {
  color: var(--text-white);
  text-shadow: 2px 2px 4px var(--shadow-medium);
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-dark);
  color: var(--text-white);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer__text {
  font-size: 12px;
  transform: translateY(50%);
}

.intro__content > .swiper-container {
  flex: 0.8;
}

.intro__content-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Móviles (pantallas menores a 768px) */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
    border-right: none;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }

  .sidebar__nav {
    flex-direction: column;
  }

  .places__box-image {
    width: 100%;
    height: auto;
  }

  .info__box {
    flex-direction: column; 
  }

  .top__section {
    flex-direction: column;
    gap: 10px;
  }

  .brands {
    flex-direction: column;
    align-items: center;
  }
}

/* Tablets (pantallas menores a 1800px) */
@media (max-width: 1800px) {

  .intro__content {
    flex-direction: row;
  }

  .swiper-container {
    width: 80%;
  }

  .swiper-pagination {
  margin-top: 5px;
  }
}


@media (max-width: 1450px) {

  body {
    flex-direction: column;
  }

  .places__box-image,
  .places__box {
    width: 100%;
  }

  .info__box,
  .top__section {
    flex-direction: column;
    gap: 10px;
  }


  .map {
    height: 300px;
  }


  .intro__content {
    flex-direction: column;
  }

}
